build/*
!build/.keep
test
.vscode
mqtt/mqtt.c
mqtt/include/mqtt.h
libmqttwebsockets.*
configure
config.log
config.status
src/include/config.h*
aclocal.m4
autom4te.cache
*.o
.deps
.dirstamp

missing
Makefile.in
Makefile
install-sh
depcomp
compile
ar-lib
stamp-h1
